{% include 'shoppbarth/partials/head.html' %}

<body>
    {% include 'shoppbarth/partials/header.html' %}

    {% include 'shoppbarth/partials/search.html'%}

    <main class="main-content-container">
        <div class="main-content main-content-list container">
            {% include 'shoppbarth/partials/product.html' %}
            {% include 'shoppbarth/partials/product.html' %}
            {% include 'shoppbarth/partials/product.html' %}
            {% include 'shoppbarth/partials/product.html' %}
            {% include 'shoppbarth/partials/product.html' %}
            {% include 'shoppbarth/partials/product.html' %}
            
        </div>
    </main>

    {% include 'shoppbarth/partials/footer.html' %}

</body>

</html>