<div class="product product-item">
    <div class="product-cover">
        <img src="https://placehold.co/1280x720/lightgreen/white.png" alt="Temporario">
    </div>
    <div class="product-title-container">
        <h2 class="product-title">Lorem ipsum dolor sit amet.</h2>
    </div>
    
    <div class="product-content">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae quisquam dolorum assumenda earum exercitationem veniam ad accusantium quae explicabo quaerat atque optio, officiis, aliquid expedita libero est labore consectetur minus?</p>
    </div>
    <footer class="product-footer">
        <a href="/product/3/" class="product-read-more button button-dark button-full-width">
            <i class="fa-solid fa-eye"></i>
            <span> Ver mais...</span>
        </a>
    </footer>
</div>